<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="../../css/khoi.css" rel="stylesheet" type="text/css">
   <script src="../../javasript/jquery.min.js" type="text/javascript"></script>
     <script src="../../javasript/bootstrap.min.js" type="text/javascript"></script>
<title>Insert title here</title>
</head>
<body>
<script>   
$('#myCarousel').carousel({ 
    interval:   4000    
});
</script>
<style>
body {  
padding-top: 0px;
}
.carousel-indicators {  
bottom:15px;    
left:10px;  
width:auto; 
margin-left:0;
}
.carousel-indicators li {   
border-radius:0;    
width:8px;  
height:8px; 
background:#fff;
}
.carousel-indicators .active {  
width:10px; 
height:10px;    
background:#3276b1; 
border-color:#3276b1;
}
</style>
<div class="container"> 
 <div class="row"> 
  <h1 class="text-center">Cách tạo Slideshow hình ảnh bằng Bootstrap</h1> 
  <div class="col-md-6 col-md-offset-3"> 
   <div id="myCarousel" class="carousel slide"> 
    <ol class="carousel-indicators"> 
     <li data-target="#myCarousel" data-slide-to="0" class=""></li> 
     <li data-target="#myCarousel" data-slide-to="1" class="active"></li> 
     <li data-target="#myCarousel" data-slide-to="2"></li> 
     <li data-target="#myCarousel" data-slide-to="3"></li> 
     <li data-target="#myCarousel" data-slide-to="4"></li> 
    </ol> 
    <div class="carousel-inner"> 
     <figure class="item"> <img class="thumbnail" src="http://hocwebgiare.com/thiet_ke_web_chuan_demo/slide_pictures/images/1.jpg" alt="Slide1"> 
     </figure> 
     <figure class="item active"> <img class="thumbnail" src="http://hocwebgiare.com/thiet_ke_web_chuan_demo/slide_pictures/images/2.jpg" alt="Slide2"> 
     </figure> 
     <figure class="item"> <img class="thumbnail" src="http://hocwebgiare.com/thiet_ke_web_chuan_demo/slide_pictures/images/3.jpg" alt="Slide3"> 
     </figure> 
     <figure class="item"> <img class="thumbnail" src="http://hocwebgiare.com/thiet_ke_web_chuan_demo/slide_pictures/images/4.jpg" alt="Slide4"> 
     </figure> 
     <figure class="item"> <img class="thumbnail" src="http://hocwebgiare.com/thiet_ke_web_chuan_demo/slide_pictures/images/5.jpg" alt="Slide5"> 
     </figure> 
    </div> 
   </div> 
  </div> 
 </div>
</div>
</body>
</html>