
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/main-layout1}" >
    <head>
    <meta charset="ISO-8859-1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
          <link rel="stylesheet" type="text/css" href="../../css/layout.css" />
        <title>Register VaitroChucNang</title>
    </head>
    <body>
      <article layout:fragment="content" >
        <div class="container" style="margin-top: 10px;">
            <div class="row" style="border: 1px darkgrey solid; border-radius: 10px;width: 50%; margin: 0 50px; padding: 20px;" >
                <div class="col-sm-12">
        <h2>Register VaitroChucNang</h2>
         
          <form th:action="${action}"  th:object=${VaitroChucNang} method="post" >
           <div class="form-group">
                      
                            <label>Id</label>
                            <input type="hidden"  th:field="*{id}" class="form-control" name="id" value="" placeholder="Enter id">
                        </div>
                        <div class="form-group">
                            <label>vaitro </label>
                         <select th:field="*{idvt}" class="form-control" id="categorieid" name="idvt">
							<option th:each="depart:${vaitro}"  th:value="${depart.id}"  th:text="${depart.tenvt}" disabled>  </option>
						   </select>
                        </div>
                        <div class="form-group">
                           <label>danh sach chuc nang</label>
							<!--  <div th:each="cn:${chucnang}">
							
							  <div th:switch="${cn.id}">
							
	<p th:each="tt:${chucnangc}" th:case="${tt.id}"><input type="checkbox" name="chon" th:value="${cn.id}" th:text="${cn.tencn}" checked ></p>
	
	<p th:case="*">
	<input type="checkbox" name="chon" th:value="${cn.id}" th:text="${cn.tencn}" >
	</p>-->

						<!--  <p th:text="${condition} ? 'TRUE' : 'FALSE'">TRUE or FALSE</p>-->
						 <div th:each="cn:${chucnang}">
							
							  <div th:switch="${cn.id}">
							
	<p th:each="tt:${chucnangc}" th:case="${tt.idcn}"><input type="checkbox" name="chon" th:value="${cn.id}" th:text="${cn.tencn}" checked ></p>
	
	<p th:case="*">
	<input type="checkbox" name="chon" th:value="${cn.id}" th:text="${cn.tencn}" >
	</p>
						 
						 	
						 	
							
							</div>
							</div>
					
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger btn-sm">Cancel</button>
                        <a href="/VaitroChucNang/page" class="btn btn-primary">Display VaitroChucNang</a>
                    </form>
                </div>
            </div>
        </div>
        </article>
    </body>
</html>