
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/main-layout1}" >
    <head>
    <meta charset="ISO-8859-1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      
        <title>Đăng Ký Chức Năng</title>
    </head>
    <body>
      <article layout:fragment="content" >
        <div class="container" style="margin-top: 10px;">
            <div class="row" style="border: 1px darkgrey solid; border-radius: 10px;width: 50%; margin: 0 50px; padding: 20px;" >
                <div class="col-sm-12">
        <h2>Đăng Ký Chức Năng</h2>
         
          <form th:action="${action}"  th:object=${ChucNang} method="post" id="form" >
            <div class="form-group">
                      <p th:text="${hau}"></p>
                           
                            <input type="hidden"  th:field="*{id}" class="form-control" name="id" value="" placeholder="Enter id">
                        </div>
                        
                       
                        <div class="form-group">
                            <label>Tên Chức Năng </label>
                            
                             <input type="text"  th:field="*{tencn}" class="form-control" name="tencn" value="" placeholder="Enter tencn">
                        <span th:errors="*{tencn}" class="error"></span>
                        </div>
							 <div class="form-group">
                            <label>mã chức Năng</label>
                             <input type="text"  th:field="*{macn}" class="form-control" name="macn" value="" placeholder="Enter macn">
                         <span th:errors="*{macn}" class="error"></span>
                        </div>
                         <div class="form-group">
                            <label>chức năng url</label>
                             <input type="text"  th:field="*{cnurl}" class="form-control" name="cnurl" value="" placeholder="Enter cnurl">
                         <span th:errors="*{cnurl}" class="error"></span>
                        </div>
                         <div class="form-group">
                            <label>mô tả chức năng</label>
                           
                            <span th:errors="*{mota}" class="error"></span>  <input type="text"  th:field="*{mota}" class="form-control" name="mota" value="" placeholder="Enter mota">
                        </div>
                         <div class="form-group">
                            <label>mã api</label>
                             <input type="text"  th:field="*{maapi}" class="form-control" name="maapi" value="" placeholder="Enter maapi">
                         <span th:errors="*{maapi}" class="error"></span>
                        </div>
                         
                         <div class="form-group">
                            <label>công khai</label>
                            <div class="radio"><!--value = 1 => Nam| 0 =>Nu -->
                                <label class="checkbox-inline"><input type="radio"  th:field="*{congkhai}" name="congkhai"  value=1 checked >co</label>
                                <label class="checkbox-inline"><input type="radio"  th:field="*{congkhai}" name="congkhai"  value=0>khong</label>
                        </div>
                        </div>
                         <div class="form-group">
                            <label>Chức Năng cha</label>
                           <select th:field="*{cncha}" class="form-control" id="categorieid" name="cncha">
							<option  th:each="depart:${chucnangcha}" th:value="${depart.id}" th:text="${depart.tencn}"></option>
							
						</select>
						 <span th:errors="*{cncha}" class="error"></span>
                        </div>
					
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger btn-sm">Cancel</button>
                        <a href="/ChucNang/page" class="btn btn-primary">Danh sách chức năng</a>
                    </form>
                </div>
            </div>
        </div>
        </article>
    </body>
</html>