
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/main-layout1}" >
    <head>
    <meta charset="ISO-8859-1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      
        <title>Đăng Ký Bảo Hành</title>
    </head>
    <body>
      <article layout:fragment="content" >
        <div class="container" style="margin-top: 10px;">
            <div class="row" style="border: 1px darkgrey solid; border-radius: 10px;width: 50%; margin: 0 50px; padding: 20px;" >
                <div class="col-sm-12">
        <h2>Đăng Ký Bảo Hành</h2>
         
          <form th:action="${action}"  th:object=${baoHanh} method="post" >
           <div class="form-group">
                      
                            <label>Id</label>
                            <input type="hidden"  th:field="*{id}" class="form-control" name="id" value="" placeholder="Enter id">
                        </div>
                         
                         <div class="form-group">
                      
                            <label>Mã Bảo Hành</label>
                            <input type="text"  th:field="*{mabh}" class="form-control" name="mabh" value="" placeholder="Enter mabh">
                        </div>
                       
                        <div class="form-group">
                            <label>Thời Gian Bảo Hành:</label>
                            <input type="number"  th:field="*{thoigianbh}" class="form-control" name="hesoluong" value="" placeholder="Enter thoigianbaohanh">
                        <p>tháng</p>
                        </div>
                        <div class="form-group">
                            <label>ngày Bắt đầu:</label>
                            <input type="text"  th:field="*{ngaybatdau}" class="form-control" name="ngaybatdau" value="" placeholder="Enter ngay bat dau">
                        </div>
                        <div class="form-group">
                            <label>ngày Kết Thúc:</label>
                            <input type="text"  th:field="*{ngayketthuc}" class="form-control" name="ngayketthuc" value="" placeholder="Enter ngay ket thuc">
                        </div>
							<div class="form-group">
                            <label>Điện Thoại</label>
                           <select th:field="*{dienthoaiid}" class="form-control"  name="dienthoaiid">
							<option  th:each="depart:${dienthoai}" th:value="${depart.id}" th:text="${depart.name}"></option>
							
						</select>
                        </div>
                        <div class="form-group">
                            <label>Tình Trạng</label>
                           <select th:field="*{tinhtrang}" class="form-control"  name="tinhtrang">
							<option   value="1">chưa Bảo hành</option>
							<option   value="2">đang Bảo Hành</option>
							<option   value="3">Đã Bảo Hành </option>
						</select>
                        </div>
                        
                        
					
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger btn-sm">Cancel</button>
                        <a href="/baoHanh/page" class="btn btn-primary">Danh sách Bảo Hành</a>
                    </form>
                </div>
            </div>
        </div>
        </article>
    </body>
</html>