
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/main-layout1}" >
    <head>
    <meta charset="ISO-8859-1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      
        <title>Đăng ký Tặng kèm</title>
    </head>
    <body>
      <article layout:fragment="content" >
        <div class="container" style="margin-top: 10px;">
            <div class="row" style="border: 1px darkgrey solid; border-radius: 10px;width: 50%; margin: 0 50px; padding: 20px;" >
                <div class="col-sm-12">
        <h2>Đăng ký Tặng kèm</h2>
         
          <form th:action="${action}"  th:object=${dto} method="post" enctype="multipart/form-data">
           <div class="form-group">
                      
                           
                            <input type="hidden"  th:field="*{id}" class="form-control" name="id" value="" placeholder="Enter id">
                        </div>
                         <div class="form-group">
                      
                            <label>Tên Sản Phẩm</label>
                            <input type="text"  th:field="*{name}" class="form-control" name="name" value="" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label>Mã Tặng Kèm</label>
                            <input type="text"  th:field="*{matk}" class="form-control" name="madt" value="" placeholder="Enter madt">
                        </div>
                        <div class="form-group">
                            <label>Số Lượng</label>
                            <input type="number" class="form-control"   th:field="*{soluong}" name="soluong" value="" placeholder="Enter soluong">
                        </div>
                        <div class="form-group">
                            <label>Ngày Nhập:</label>
                            <input type="text"  th:field="*{ngaynhap}" class="form-control" name="ngaynhap" value="" placeholder="Enter ngay nhap">
                        </div>

                       
                         <div class="form-group">
                            <label>Giá Nhập</label>
                            <input type="number" class="form-control"   th:field="*{gianhap}" name="gianhap" value="" placeholder="Enter giaban">
                        </div>
                        
                        <div class="form-group">
						<label>Hình Ảnh</label> <input type="file" th:field="*{hinhanh}" class="form-control" name="hinhanh" placeholder="Enter hinhanh" id="image">
					</div>
					
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger btn-sm">Cancel</button>
                        <a href="/TangKem/page" class="btn btn-primary">Danh sách Tặng Kèm</a>
                    </form>
                </div>
            </div>
        </div>
        </article>
    </body>
</html>