<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/main-layout1}" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Danh Sách Bảng Chấm Công </title>
       
    </head>
    <body>
         <article layout:fragment="content" >
        <div class="container">
            <h2>Danh Sách Bảng Chấm Công </h2>
            <form action="/BangChamCong/ngaycham">
            <input type="text" th:value="${ngay}" name="ngaycham" id="haubeo"onkeyup="saochep(this)">
            
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <form action="/BangChamCong/edit">
                        <h2>Ngày Sửa</h2>
            
             <input type="text" th:value="${ngay}" name="ngaysua" id="hau">
            <button type="submit" class="btn btn-primary">Suabangchamcong</button>
									</form>
           <!--  <a th:href="@{'/employee/'}" class="btn btn-primary">Add Users</a>-->
          <!-- <div th:if="${success}"
			class="row alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span th:text="${success}"></span>
		</div>-->
            	
		
		<div class="row">
		<form >
	<div class="row">	<a th:href="@{'/BangChamCong/'}" class="btn btn-success pull-left">Danh Sách Bảng Chấm Công  </a></div>
            <table border="1"  width="945" height="auto">
                     <caption align="top"  class="title" style="color:green;"> Danh Sách Bảng Chấm Công  </caption>
                <thead>
                    <tr>
                    <th>count</th>
                   <th>id</th>
                    
                        <th>Tên Nhân Viên  </th>
                    
					 <th>Chức Vụ</th>
				
				  <th>Đi Làm </th>
					<th>Không Đi làm</th>
					
					
					
					
                        
                       
                       
                        
                            </tr>
                </thead>
                <tbody>
                    
                  <tr th:each="nv,iterStat : ${nhanvien}">
							<td th:text="${iterStat.count}"></td>
							<td th:text="${nv.id}"></td>
							<td th:text="${nv.name}"></td>
						
							
							<td th:each="cv:${chucvu}" th:if="${nv.chucvuid==cv.id}" th:text="${cv.tencv}"></td>	
					<td th:each="bcc:${BangChamCong}" th:if="${nv.id==bcc.idemployee}" >
					<th:block th:if="${bcc.tinhtrang==1}"><input type="checkbox" name="dilam" th:value="${nv.id}" checked></th:block>
					
					
					</td>	
					<td th:each="bcc:${BangChamCong}" th:if="${nv.id==bcc.idemployee}" >
					
					<th:block th:if="${bcc.tinhtrang==2}"><input type="checkbox" name="khongdilamkp" th:value="${nv.id}" checked> </th:block>
					
					</td>	
						
					
	<!--  <td><div th:each="ct : ${nhanvien}" ><p th:if="${contact.idnhanvien==ct.id}" th:text="${ct.name}">
	</p>
	</div></td>-->
	<!--<td><div th:each="ct : ${nhanvien}"><th:block th:if="${contact.idnhanvien==ct.id}">
	<a th:each="cv:${chucvu}"  th:if="${ct.chucvuid==cv.id}" th:text="${cv.tencv}"></a>
	</th:block></div></td>-->
						
								
							
									
									
						</tr>
					</tbody>
				</table>
				
				</form>
			</div>
		
	<!--  <form class="form-inline pull-right" action="#"
				th:action="@{/BangChamCong/search/pageNumber}" method="GET">
				<div class="form-group">
					<input type="text" class="form-control" onkeydown="" id="" name="sa"
						placeholder="Type BangChamCong name..." />
						
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>-->
			
		
	</div>
                    
              <script th:inline="javascript">  
              function saochep(mm){
            	  
            	  document.getElementById("hau").value =mm.value;
              }
</script>

       
        </article>
    </body>
</html>